* {margin: 0;
  padding: 0;
  outline: 0;
 }
 body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #200c03;
 }
 .image img{
   max-width: 150px;
   width: auto;
   margin-top: -100px;
   border-radius: 200px;
   filter: sepia(100%) brightness(80%) saturate(112%) contrast(130%) hue-rotate(335deg);
 
   
 }
 li{
   list-style: none;
   text-align: justify;
 }
 .header-menu{
   display: flex;
   width: 100%;
   padding-bottom: 32px;
   padding-top: 32px;
   height: 60px;
   background-color: #592d1d;
 }
 .header-menu nav{
   display: flex;
   justify-content: flex-end;
   width: 100%;
 }
 .lista-menu{
   display: flex;
   justify-content: space-evenly;
   align-items:flex-end;
   margin-right: 10px;
 }
 .lista-menu li>a{
   color: #fff;
   font-size: 18px;
   text-decoration: inherit;
   margin-left: 10px;
 }
 .principal{
   height: 100vh;
   display: flex;
   background-color: #FBF7E4;
 }
.subcontainer-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.container{
   margin-right: auto;
   margin-left: auto;
   max-width: 960px;
   width: 100%;
}
.nome-completo{
   font-size: 36px;
   color: #502e08;
   font-weight: 700;
   height: 45px; 
}
.profissao{
   color: #b97e4d;
   line-height: 32px;
}
.texto-sobre{
font-size: 20px;
line-height: 32px;
}
.article-lista{
   display: flex;
   margin-top: 100px;
   margin-bottom: 100px;
   flex-direction: column;
}
.topico-principal{
   font-size: 36px;
   color: #5e220a;
}
.lista-item{
   padding: 32px;
}
.lista-titulo{
   margin-bottom: 5px;
   font-size: 22px;
   color: #994107;
   font-weight: 700;
}
.lista-local{
   font-size: 18px;
   color: #c48612;
}
.lista-descricao{
   font-size: 18px;
   margin-top: 5px;
   line-height: 20px;
   color: hsl(28, 34%, 38%);
   font-weight: 300;
}
.lista-item ul li {
   margin-bottom: 32px;
}
.wrapper-portfolio{
   background-color: #e9deb4;
   display: flex;
   flex-direction: column;
}

footer {
   height: 198px;
   background-color: #592d1d;
   width: 100%;
   
   
  }

footer ul {
   display: inline-block;
   margin-left: 30px;
   margin-top: 40px;


}
footer li{
   padding-bottom: 10px;
   font-size: 14px;
   font-weight: 700;
   font-size: 14px;
   line-height: 19px;
   color: #fff;
}

footer a{

   color: #fff;
   text-decoration: none;
   
}
footer i{
   font-size: 30px;
   margin-right: 14px;
}

footer ul li div {
   display: flex;
   align-items: center;

}
